:root {
    /**** begin countdown colors ****/
    --flipclock-bg-color: #9c6500;
    --flipclock-color: #faff35;
    /**** endof countdown colors ****/

    /**** begin custom colors ****/
    --color-1: #002360;
    --color-2: #9c6500;
    --color-3: #0963c3;
    --color-4: #2a84e4;
    --color-5: #00a2ff;
    --color-6: #f2da00;
    --color-7: #d2a800;
    --color-8: #ffec1b;
    --color-9: #faff35;

    --gradient-1: linear-gradient(to bottom, var(--color-8), var(--color-6)) !important;
    --gradient-2: radial-gradient(circle at center, var(--color-8), var(--color-7)) !important;
    --gradient-3: radial-gradient(circle at center, #cd8800, #ff3300) !important;
    --gradient-4: radial-gradient(circle at center, #00326b, var(--color-1)) !important;
    /**** endof custom colors ****/
}

/**** begin custom background colors ****/
.bg-color-1 { background-color: var(--color-1) !important; }
.bg-color-2 { background-color: var(--color-2) !important; }
.bg-color-3 { background-color: var(--color-3) !important; }
.bg-color-4 { background-color: var(--color-4) !important; }
.bg-color-5 { background-color: var(--color-5) !important; }
.bg-color-6 { background-color: var(--color-6) !important; }
.bg-color-7 { background-color: var(--color-7) !important; }
.bg-color-8 { background-color: var(--color-8) !important; }
.bg-color-9 { background-color: var(--color-9) !important; }

.bg-gradient-1 { background-image: var(--gradient-1) !important; }
.bg-gradient-2 { background-image: var(--gradient-2) !important; }
.bg-gradient-3 { background-image: var(--gradient-3) !important; }
.bg-gradient-4 { background-image: var(--gradient-4) !important; }
/**** endof custom background colors ****/
