body{
	padding:0px;
	margin:0px;
	background:#ebebeb;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        padding: 10px;
    }
}
html, body {
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    padding: 10px;
}

.header{
	height:140px;
	background-color:#3eb2f5;
	border-bottom:4px solid #666666;	
}
.logo {
	width:280px;
	border:0px solid #999999;
	height:148px;
	float:left;
	padding-top:10px;
}
.logo_right{
	width:710px;
	border:0px solid #999999;
	height:100%;
	float:right;
}
.menu{
	background-color:#000000;
	height:25px;
	
}
.menu1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	padding:5px 0px 8px 10px;
	float:left; width:400px;
}
.menu1 a{
	color:#F3D400;
	text-decoration:none;
	font-weight: bold;
}
.menu1 a:hover{
	color:#CCCCCC;text-decoration:none;
}
.menu2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	padding:5px 10px 8px 10px;
	float:right; width:70px;
	text-align:right;
}


.menu_mid{
	height:91px; 
}
.menu_mid1{
	clear:both;
	width:400px;
	text-align:left;
	padding:20px 0px 10px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
	color:#FF0;
}
.menu_bot{
	height:33px;
	font-size:14px;
	padding:10px;
	font-weight:bolder;
	color:#FF0;
}
.wrap{
	width:1000px;
	border:0px solid #999999;
	margin:auto;
}
.body{
	background-color:#ffffff;
	padding-bottom:20px;
}
.body-top{
	padding:10px;
	font-weight: bold;
}
.win{
	padding:10px 0px 10px 10px;
	color:#24c4f5;
	font-family:Arial, Helvetica, sans-serif;
	background: #2B60DE;
	background: #f7f33b;
	font-weight: 700;
}
.games_head{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	padding:5px 10px 5px 10px;
	background-color:#2993e9;
	font-weight:bold;
	text-align:center;
	font-size:20px;
	
}
.title_prize{
	padding:7px 20px 7px 10px;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #666666;
	color:#2B60DE;
}
.num_prize{
	padding:7px 10px 7px 20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #666666;
	
}

.cons{
	color:#2B60DE;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;font-weight:bold;
}
.text_cons{
	text-align:center;
	color:#000;
	font-size:15px;
	font-weight:bold;
}
.jackpot{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	padding:5px 10px 5px 10px;
	background-color:#2B60DE;
	font-weight:bold;
	text-align:center;
	font-size:20px;
	border-top:3px solid #000000;
}
.jackpot1{
	border-bottom:1px solid #666666;
	padding:5px 10px 5px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#FFF;
	font-weight: bold;
	text-align: center;
}

.body2{
	height:90px;
	background-color:#FFF;
	
}

.foot{
	font-size:12px;
	border-top:2px solid #2B60DE;
}

.days a{
	text-decoration:none;
	color:#FF0;
	text-transform:uppercase;
	font-weight: 700;	
}
.form{
	padding:5px 10px 5px 10px;
	width:250px;
	border:1px solid #CCCCCC;
	background-color:#CCC;
}
.btn_send{
padding:5px 10px 5px 10px;
}
.times{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;

}

.bg_prize{
	background-color:#1e90ff;
	 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1e90ff, endColorstr=#003177);
	background-image:-moz-linear-gradient(top, #1e90ff 0%, #003177 100%);
	background-image:-webkit-linear-gradient(top, #1e90ff 0%, #003177 100%);
	background-image:-ms-linear-gradient(top, #1e90ff 0%, #003177 100%);
	background-image:linear-gradient(top, #1e90ff 0%, #003177 100%);
	background-image:-o-linear-gradient(top, #1e90ff 0%, #003177 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#1e90ff), color-stop(100%,#003177));
	}

.run_text{
	font-size:14px;
	color:#FF0;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 0px 8px 10px;
	float:left;
	width:600px;
}